<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>692709551364-o40rru1l3t6h26li8uegd5jq85p4e17q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.692709551364-o40rru1l3t6h26li8uegd5jq85p4e17q</string>
	<key>API_KEY</key>
	<string>AIzaSyDrrbrXoD3VHnWbw5WexMbekQwVlaiygKQ</string>
	<key>GCM_SENDER_ID</key>
	<string>692709551364</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>in.jbmrsports.ott</string>
	<key>PROJECT_ID</key>
	<string>ncrplt20-1c022</string>
	<key>STORAGE_BUCKET</key>
	<string>ncrplt20-1c022.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:692709551364:ios:79dc736ba5a2a50e45f451</string>
	<key>DATABASE_URL</key>
	<string>https://ncrplt20-1c022-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>
